{#
  This template deploys a sample set of VPC Networks for hosting
   FortiGate instances. It's used for convenience of the example configs.
#}
{% set prefix = properties.prefix|default(env.deployment) %}

resources:
{% for net in properties.networks %}
- name: {{ net }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false
- name: {{ prefix }}-{{ net }}-sub
  type: compute.v1.subnetwork
  properties:
    region: {{ properties.region }}
    network: $(ref.{{ net }}.selfLink)
    ipCidrRange: 10.160.{{ loop.index0 }}.0/24
{% endfor %}

- name: {{ prefix }}-internal-to-shbdn
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: $(ref.internal.selfLink)
    name: {{ prefix }}-internal-to-shbdn-desc
    autoCreateRoutes: true
    peerNetwork: $(ref.{{ properties["shbdn"] }}.selfLink)

- name: {{ prefix }}-shbdn-to-internal
  action: gcp-types/compute-v1:compute.networks.addPeering
  metadata:
    runtimePolicy:
    - CREATE
  properties:
    network: $(ref.{{ properties["internal"] }}.name)
    name: {{ prefix }}-shbdn-to-internal-desc
    autoCreateRoutes: true
    peerNetwork: $(ref.shbdn.selfLink)



outputs:
{% for net in properties.networks %}
- name: {{ net }}
  value: $(ref.{{ net }}.selfLink)
- name: {{ net }}-sub
  value: $(ref.{{ prefix }}-{{ net }}-sub.selfLink)
{% endfor %}


