{#
  This template deploys a sample set of VPC Networks for hosting
   FortiGate instances. It's used for convenience of the example configs.
#}
{% set prefix = properties.prefix|default(env.deployment) %}

resources:
{% for net in properties.networks %}
- name: {{ prefix }}-{{ net }}-vpx
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false
- name: {{ prefix }}-{{ net }}-sbx
  type: compute.v1.subnetwork
  properties:
    region: {{ properties.region }}
    network: $(ref.{{ prefix }}-{{ net }}-vpx.selfLink)
    ipCidrRange: 10.150.{{ loop.index0 }}.0/24
{% endfor %}

outputs:
{% for net in properties.networks %}
- name: {{ net }}-vpc
  value: $(ref.{{ prefix }}-{{ net }}-vpx.selfLink)
- name: {{ net }}-sb
  value: $(ref.{{ prefix }}-{{ net }}-sbx.selfLink)
{% endfor %}
